<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0
            col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0
            col-full-height">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        <% if @can_edit %>
          <%= link_to "Question #{question.number}",
                      question_path(question) %>
        <% else %>
          Question <%= question.number %>
        <% end %>
      </h2>
    </div>
    <div class="question-body">
      <p><%= sanitize current_question_text(question) %></p>
      <% if not(question.external_link.blank?) %>
        <p><%= link_to "Click for additional information",
                       url_with_protocol(question.external_link),
                       target: "_blank" %></p>
      <% end %>
    </div>
    <% if @response_sheet %>
      <% response = question.responses.
                    find_by_response_sheet_id(@response_sheet) %>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="text-left">
            <strong>Your response:</strong>
          </p>
          <p class="text-center">
            <strong class="text-center"><%= response.response_text %></strong>
            <% if response.money %>
              <span class='glyphicon glyphicon-usd' aria-hidden='true'></span>
              <span class="sr-only">Moneyed</span>
            <% end %>
          </p>
        </li>
      </ul>
    <% end %>
    <div class="revealed-answer">
      <%= current_answer(question) %>
    </div>
  </div>
</div>
<div class="question-clearfix"></div>
