<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_for(@question) do |f| %>
      <%= hidden_field_tag :edit_type, "answer" %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@question.errors.count, "error") %>
            prohibited this question from being edited:
          </h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1 class="page-header">
        Edit Answer
      </h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Question <%= @question.number %></h2>
        </div>
        <div class="question-body">
          <p><%= sanitize current_question_text(@question) %></p>
          <% if @question.question_edited_at %>
            <p>
              <strong>Original question:</strong>
              <%= sanitize @question.question_text %>
            </p>
          <% end %>


          <% if not(@question.external_link.blank?) %>
            <p><%= link_to "Click for additional information",
                           url_with_protocol(@question.external_link),
                           target: "_blank" %></p>
          <% end %>

        </div>
        <div class="revealed-answer">
          <p><%= sanitize @question.answer %></p>
          <div class="field text-left">
            <%= f.label :new_answer %><br>
            <%= f.text_area :new_answer, class: "form-control", rows: "5",
              value: "#{@question.answer}" %>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Edit Answer", class: "primary-button" %>
        <%= link_to 'Back', question_path(@question), class: "btn btn-default pull-right" %>
      </div>
    <% end %>
  </div>
</div>
