<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_for(@question) do |f| %>
      <%= hidden_field_tag :edit_type, "question" %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@question.errors.count, "error") %>
            prohibited this question from being edited:
          </h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1 class="page-header">
        Edit Question
      </h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Question <%= @question.number %></h2>
        </div>
        <div class="question-body">
          <p><%= sanitize @question.question_text %></p>
          <% if not(@question.external_link.blank?) %>
            <p><%= link_to "Click for additional information",
                           url_with_protocol(@question.external_link),
                           target: "_blank" %></p>
          <% end %>
          <div class="field">
            <%= f.label :new_text %><br>
            <%= f.text_area :new_text, class: "form-control", rows: "5",
              value: "#{@question.question_text}" %>
          </div>

        </div>
        <div class="revealed-answer">
          <p><%= sanitize current_answer(@question) %></p>
          <% if @question.answer_edited_at %>
            <p>
              <strong>Original Answer:</strong>
              <%= sanitize @question.answer %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Edit Question", class: "primary-button" %>
        <%= link_to 'Back', question_path(@question), class: "btn btn-default pull-right" %>
      </div>
    <% end %>
  </div>
</div>
