<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">
      <%= @quiz.subject %>
      <small> by <%= @quiz.author.name %></small>
    </h1>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Question <%= @question.number %></h2>
      </div>
      <div class="question-body">
        <p><%= sanitize current_question_text(@question) %></p>
        <% if @question.question_edited_at %>
          <p>
            <strong>Original question:</strong>
            <%= sanitize @question.question_text %>
          </p>
        <% elsif @can_edit %>
          <p>
            <%= link_to "Edit this question", edit_question_question_path %>
          </p>
        <% end %>

        <% if not(@question.external_link.blank?) %>
          <p><%= link_to "Click for additional information",
                         url_with_protocol(@question.external_link),
                         target: "_blank" %></p>
        <% end %>
        <% if @response_sheet %>
          <% response = @question.responses.
                      find_by_response_sheet_id(@response_sheet) %>
          <strong>Your answer:</strong><br />
          <strong><%= response.response_text %></strong>
          <% if response.money %>
            <small>(Money)</small>
          <% end %>
        <% end %>
      </div>
      <div class="revealed-answer">
        <p><%= sanitize current_answer(@question) %></p>
        <% if @question.answer_edited_at %>
          <p>
            <strong>Original Answer:</strong>
            <%= sanitize @question.answer %>
          </p>
        <% elsif @can_edit %>
          <p>
            <%= link_to "Edit this answer", edit_answer_question_path %>
          </p>
        <% end %>
        </p>
      </div>
    </div>

    <% if @responses_hash %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Response</th>
            <th class="text-center">Count</th>
            <th class="text-center">Correct?</th>
          </tr>
        </thead>

        <tbody>
          <% @responses_hash.each do |response, hash| %>
            <tr>
              <td>
                <%= response %>
              </td>
              <td class="text-center">
                <%= hash[:count] %>
              </td>
              <td class="text-center">
                <% if hash[:correct] == true %>
                  Correct
                <% elsif hash[:correct] == false %>
                  Incorrect
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= link_to 'Back', quiz_path(@quiz), class: "btn btn-default pull-right" %>
  </div>
</div>
