<%= form_for(@quiz, html: {autocomplete: "off"}) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quiz.errors.count, "error") %>
        prohibited this quiz from being saved:
      </h2>

      <ul>
        <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="field">
        <%= f.label :subject %><br>
        <%= f.text_field :subject, class: "form-control",
              placeholder: "The subject will also be the quiz's title"%>
      </div>
      <div class="field">
        <%= f.label :base_score %><br>
        <%= f.number_field :base_score, class: "form-control" %>
        <p class="help-block">
          The score given for a correct answer, outside of any bonuses from
          "money" questions. The default is 15.
        </p>
      </div>
      <div class="field">
        <%= f.label :money_question_count %><br>
        <%= f.number_field :money_question_count, class: "form-control" %>
        <p class="help-block">
          The number of questions in the quiz that players will "money,"
          receiving bonus points if they answer correctly. The default is 40% of the total questions.
        </p>
      </div>
      <div class="field">
        <%= f.label :description, class: "control-label" %><br>
        <%= f.text_area :description, rows: "5", class: "form-control",
              placeholder: "Add a short description that will introduce "\
                           "players to your quiz."%>
      </div>
      <p>
        Fill in the question information below. You don't need to have all of
        the questions filled in yet, but you can't start your quiz until
        every question has something for the question and the answer.
      </p>
      <p>
        To change the order of questions, use the arrow buttons to move a
        question forward or back.
      </p>
      <p>
        If one of your questions involves information like a video or image
        stored on another site, put the full URL of the page you wish to link
        to in the "External Link" field for that question. Be sure to include
        the "http://" prefix at the beginning, or the link may not work
        correctly. Please take care to insure that there are no unintended
        clues in the name of the URL or on the destination page.
      </p>
      <p>
        When you grade your quiz, the capitalization of player responses will
        change, and square brackets will be replaced with parentheses.
      </p>
    </div>
  </div>
  <div class="row" id="form-questions-row">
    <%= f.fields_for :questions,
      @quiz.questions do |questions_form| %>
      <div class="quiz-form-question-column
        col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0
        col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0
        <%= 'hidden' if questions_form.object.number.blank? %>"
        data-id="<%=questions_form.index%>">

        <div class="panel panel-info">
          <div class="field panel-heading text-center" style="line-height:2em;">
            <button type="button" aria-label="Move Back"
              class="move-back btn btn-default pull-left"
              data-id="<%=questions_form.index%>">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
            Question
            <span class="movable-question-number-text">
              <%= questions_form.object.number %>
            </span>
            <button type="button" aria-label="Move Forward"
              class="move-forward btn btn-default pull-right"
              data-id="<%=questions_form.index%>">

              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
            <%= questions_form.hidden_field :number, class: "movable-question-number-value" %>
            <%= questions_form.hidden_field :id %>
          </div>
          <div class="panel-body">
            <div class="field">
              <%= questions_form.label :question_text %><br>
              <%= questions_form.text_area :question_text, class: "form-control",
                    rows: "5", placeholder: "Enter the text of the question" %>
            </div>
            <div class="field">
              <%= questions_form.label :answer %><br>
              <%= questions_form.text_field :answer, class: "form-control",
                    placeholder: "Enter the text of the question" %>
            </div>
            <div class="field">
              <%= questions_form.label :external_link %><br>
              <%= questions_form.text_field :external_link,
                    class: "form-control",
                    placeholder: "e.g., http://alpacafarmtrivia.com" %>
            </div>
            <div class="field">
              <%= questions_form.label :grading_notes %><br>
              <%= questions_form.text_area :grading_notes,
                    class: "form-control", rows: "4",
                    placeholder: "Enter any notes that will help you during "\
                                  "grading (alternate answers, answers that "\
                                  "won't be accepted, etc.)" %>
            </div>
          </div>
          <div class="panel-footer text-right">
            <%= questions_form.hidden_field :_destroy, value: questions_form.object.number.blank? %>
            <button type="button"
              class="delete-question btn btn-default"
              data-id="<%=questions_form.index%>">
              Delete Question
            </button>
          </div>
        </div>
      </div>
      <% unless questions_form.object.number.blank? %>
        <p class="form-question-clearfix"></p>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <p class="col-xs-8 col-xs-offset-2 text-center">
      <button type="button" class="btn btn-primary add-new-question ">
        Add New Question
      </button>
    </p>
  </div>

  <div class="row">
    <div class="actions">
      <%= f.submit 'Save and Preview', class: "primary-button" %>
      <%= link_to 'Back', quizzes_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>
