<div class="alert alert-warning">
  <p><strong>Your quiz is still in progress.</strong>
    There have been
    <%= @quiz.response_sheets.size %> participants so far. You set the
    approximate grading time as
    <strong><%= localize_agdt @quiz.approximate_grading_date_time,
                              :basic %></strong>,
    which means
    <% if Time.now > @quiz.approximate_grading_date_time %>
      this quiz is ready for grading.
    <% else %>
      you still have
      <%= distance_of_time_in_words_to_now(@quiz.approximate_grading_date_time) %>
      until you can begin grading.
    <% end %>
  </p>
  <% if Time.now > @quiz.approximate_grading_date_time %>
    <p>
      <%= link_to "Close Quiz & Start Grading", start_grading_path(@quiz),
            method: :post,
            class: "btn btn-primary center-block",
            confirm: "Are you sure you want to close this quiz for grading?"%>
    </p>
  <% end %>
</div>
