<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">
      <%= @quiz.subject %>
      <small> by <%= @quiz.author.name %></small>
    </h1>

    <% if @quiz.description %>
      <h2>Description</h2>
      <p class="text-justify"><%= sanitize @quiz.description %></p>
      <hr>
    <% end %>

    <h2>Instructions</h2>
    <p class="text-justify">
      Answer the questions below to the best of your ability <em>without
      using outside resources</em>. Outside references include (but certainly
      are not limited to) searching for an answer on the internet, looking at
      maps, using a calculator, or asking a friend (or foe) if they know the
      answer. Basically, you are relying on your brain (and maybe a pencil
      and paper).
    </p>

    <p class="text-justify">
      For each correct answer, you will receive
      <strong><%= @quiz.base_score %></strong>
      points. You must also mark
      <strong><%= @quiz.money_question_count %></strong>
      questions as "money" questions. For each money question that you answer
      correctly, you will receive bonus points equal to the percent of players
      who answered <em>incorrectly</em>. (That is, if 25% of players got a
      question right, its money bonus would be worth 75 points.) You still
      don't get any points for a wrong answer, though, so try to select the
      hardest questions you think you have answered correctly. (Note: You
      can't use outside resources to help pick your money questions either.)
    </p>

    <% if @quiz.being_graded? %>
      <p class="text-justify">
        This quiz is closed for grading, and you can no longer submit answers.
        When the author has finished grading, the results will be published on
        this page.
    </p>
    <% elsif @can_edit && @quiz.playable? %>
      <%= render 'in_progress' %>
    <% elsif @disabled %>
      <div class="alert alert-warning">
        <p><strong>
          Only logged-in users can participate in a quiz.
          <%= link_to "Log In", new_user_session_path %>
          or
          <%= link_to "Sign Up", new_user_registration_path %>
          now to play. </strong></p>
      </div>
    <% else %>
      <p>
        You can submit your answers until grading begins.
        <%= @quiz.author.name %> currently plans to begin grading around
        <strong><%= localize_agdt @quiz.approximate_grading_date_time, :basic %></strong>.
      </p>
      <br />
    <% end %>
  </div>
</div>
