<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">
      <%= @quiz.subject %>
      <small> by <%= @quiz.author.name %></small>
    </h1>

    <h2>Champion(s):</h2>
    <% @quiz.response_sheets.champions.each do |rs| %>
      <h3 class="text-right">
        <%= rs.player.name %><br />
        <small><%= rs.player.motto %></small>
      </h3>
    <% end %>

    <hr>

    <h2 class="h3">Runner(s)-Up:</h2>
    <% @quiz.response_sheets.runners_up.each do |rs| %>
      <h3 class="h4 text-right">
        <%= rs.player.name %><br />
        <small><%= rs.player.motto %></small>
      </h3>
    <% end %>
    <hr>
    <% if @response_sheet %>
      <h2>Your Result</h2>
      <h3>
        <%= @response_sheet.rank.ordinalize %> Place!
        <small>
          <%= @response_sheet.percentile_rank.to_i.ordinalize %>
          percentile rank
        </small>
      </h3>
      <h4>
        Score:
        <%= @response_sheet.score %> points
        <small>out of a possible <%= @quiz.maximum_score %></small>
      </h4>
      <hr>
    <% end %>

    <% unless @quiz.blank? %>
      <h2>Quiz Description</h2>
      <p class="text-justify"><%= sanitize @quiz.description %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <h2>Full Results:</h2>
    <div class="table-responsive">
      <table class="table table_striped table-hover
                    table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th>Player</th>
            <th class="text-center">Total</th>
            <th class="text-center">%ile</th>
            <% @quiz.questions.each do |q| %>
              <th class="text-center"><%= q.number %></th>
            <% end %>
          </tr>
        </thead>

        <tr>
          <th colspan="2" class="text-right">Money Value (% Incorrect):</th>
          <th></th>
          <th></th>
          <% @quiz.questions.each do |q| %>
            <th class="text-center">
              <%= q.money_value.to_s.rjust(2, '0') %>
            </th>
          <% end %>
        </tr>


        <tbody>
          <% @quiz.response_sheets.includes(:player, responses: :question).
                   order(:rank, 'questions.number').
                   each do |rs| %>
            <tr>
              <td class="text-center"><%= rs.rank %></td>
              <td><%= rs.player.name %></td>
              <td class="text-center"><%= rs.score %></td>
              <td class="text-center">
                <%= [1, rs.percentile_rank.floor].max %>
              </td>

              <% rs.responses.each do |r| %>
                <td class="text-center <%= result_color(r) %>">
                  <%= r.correct ? @quiz.base_score.to_s.rjust(2, '0') : "00" %><br />
                  <% if r.money %>
                    <%= r.correct ? r.question.money_value.to_s.rjust(2, '0') : "00" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12
              col-sm-8 col-sm-offset-2
              col-md-3 col-md-offset-0">
    <h2>Questions:</h2>
    <% @quiz.questions.order(:number).each do |question| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= link_to "Question #{question.number}",
                        question_path(question) %>
          </h3>
        </div>
        <div class="question-body">
          <p><%= sanitize current_question_text(question) %></p>
          <% if not(question.external_link.blank?) %>
            <p><%= link_to "Click for additional information",
                           url_with_protocol(question.external_link),
                           target: "_blank" %></p>
          <% end %>
        </div>
        <% if @response_sheet %>
          <% response = question.responses.
                        find_by_response_sheet_id(@response_sheet) %>
          <ul class="list-group">
            <li class="list-group-item">
              <p class="text-left">
                <strong>Your response:</strong>
              </p>
              <p class="text-center">
                <strong class="text-center"><%= response.response_text %></strong>
                <% if response.money %>
                  <span class='glyphicon glyphicon-usd' aria-hidden='true'></span>
                  <span class="sr-only">Moneyed</span>
                <% end %>
              </p>
            </li>
          </ul>
        <% end %>
        <%= content_tag(:div, "Click to Reveal Answer",
                        {class: "click-to-reveal-answer",
                        "question-number" => question.id}
                        ) %>
        <%= content_tag(:div, current_answer(question),
                        {class: "concealed-answer",
                        "question-number" => question.id}
                        ) %>
      </div>
    <% end %>
  </div>
</div>
