<%= form_for(@response_sheet, html: {autocomplete: "off"} ) do |rs| %>
  <%= rs.hidden_field :quiz_id, value: @response_sheet.quiz.id %>
  <div class="row row-full-height">
    <% if @response_sheet.errors.any? %>
      <div id="error_explanation">
        <strong>There were some problems with your reponse:</strong>
        <ul>
          <% @response_sheet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>Questions</h2>

    <% @response_sheet.responses.
         sort { |a, b| a.question.number <=> b.question.number }.
         each do |response| %>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0
                  col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0
                  col-full-height">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Question <%= response.question.number %></h2>
          </div>
          <div class="question-body">
            <p><%= sanitize current_question_text(response.question) %></p>
            <% if not(response.question.external_link.blank?) %>
              <p><%= link_to "Click for additional information",
                       url_with_protocol(response.question.external_link),
                       target: "_blank" %></p>
            <% end %>

            <%= rs.fields_for :responses, response do |r| %>
              <%= r.hidden_field :question_id, value: response.question.id %>
              <div class="field">
                <%= r.label :response_text, "Your answer:",
                            class: "form-label" %><br>
                <%= r.text_field :response_text, class: "form-control",
                                 disabled: @disabled %>
              </div>
              <div class="field text-right">
                <%= r.label :money, "Money?", class: "checkbox-inline" %>
                <%= r.check_box :money, class: "checkbox-inline",
                                disabled: @disabled %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
      <div class="question-clearfix"></div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
      <div class="actions">
        <%= rs.submit "Submit your answers", class: "primary-button",
              disabled: @disabled,
              data: {confirm: "You are on your honor to complete this "\
                              "quiz on your own. By submitting your answers "\
                              "here, you affirm that you did not consult any "\
                              "outside resources while working on this quiz. "\
                              "(If you did, please don't submit your "\
                              "answers.)"} %>
        <%= link_to "Back", root_path, class: "btn btn-default pull-right"  %>

      </div>
    </div>
  </div>

<% end %>
