<div class="row row-full-height">
  <h2>Questions</h2>
  <%= render @quiz.questions %>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
    <% if not(@quiz.opened) && current_user.player == @quiz.author %>
    <div class="btn-group pull-left" role="group">
      <%= link_to 'Edit', edit_quiz_path(@quiz), class: "primary-button" %>
      <%= link_to 'Finalize', finalize_path(@quiz), class: "btn btn-info" %>
    </div>
    <% end %>
    <%= link_to 'Back', root_path, class: "btn btn-default pull-right" %>
  </div>
</div>