<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">Start Your Quiz</h1>
    <p>
      Before you start your quiz, you'll need to set a time when you expect
      to begin grading the answers. You don't have to begin grading at exactly
      the time you set, but you can't start until the time has passed. This
      will let players know how long they have to participate in the quiz.
    </p>
    
    <p>
      Take a moment to review all of your questions and answers. Once you've
      started your quiz, you won't be able to change anything.
    </p>
    <%= form_for(@quiz, url: start_quiz_path(@quiz),
                        html: {method: "post"}) do |f| %>
      <div class="field">
        <%= f.label :approximate_grading_date_time, class: "form-label" %>
        <%= f.datetime_local_field :approximate_grading_date_time,
               value: DateTime.current.tomorrow.strftime("%Y-%m-%dT%T"),
               min: DateTime.current.advance(hours: 8).strftime("%Y-%m-%dT%T"),
               max: DateTime.current.advance(days: 7).strftime("%Y-%m-%dT%T"),
               class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Start Your Quiz", class: "primary-button" %>
        <%= link_to "Back", @quiz, class: "btn btn-default pull-right" %>
      </div>
    <% end %>
  </div>
</div>
  
  <%= render 'introduction' %>
  <%= render @quiz.questions.order(:number) %>

