<div class="page-header">
  <h1>Welcome to the Alpaca Farm!</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0
              col-sm-8 col-sm-offset-2">
    <h2>Playable Quizzes</h2>

    <table class="table table_striped table-hover">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Subject</th>
          <th>Author</th>
          <th>Deadline</th>
        </tr>
      </thead>

      <tbody>
      <% @playable_quizzes.each do |quiz| %>
        <tr>
          <td class="text-center"><%= play_button(quiz) %></td>
          <td class="text-center"><%= link_to quiz.subject, quiz %></td>
          <td><%= link_to quiz.author.name, player_path(quiz.author) %></td>
          <td><%= l quiz.approximate_grading_date_time, format: :basic %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <hr>
    <h2>Site News</h2>
    <p>
      Quizzes can now hold a variable number of questions, as few as five, and as many as twenty-five. When creating or editing a quiz, use the new buttons to organize your quiz, and let me know if there are any problems.
    </p>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0
              col-sm-8  col-sm-offset-2">

    <h2>Recently Completed Quizzes</h2>

    <table class="table table_striped table-hover">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Author</th>
          <th class="text-center">Participants</th>
          <th class="text-right">Champion(s)</th>
        </tr>
      </thead>

    <tbody>
      <% @complete_quizzes.each do |quiz| %>
        <tr>
          <td><%= link_to quiz.subject, quiz %></td>
          <td><%= link_to quiz.author.name, player_path(quiz.author) %></td>
          <td class="text-center"><%= quiz.response_sheets_count %></td>
          <td class="text-right">
            <% quiz.champions.each do |c| %>
            <%= link_to c.player.name, c.player %><br />
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <% if @quizzes_being_graded %>
    <h3>
      There
      <%= @quizzes_being_graded.size == 1 ? 'is' : 'are' %>
      <%= pluralize @quizzes_being_graded.size, 'quiz' %>
      currently being graded.
    </h3>
  <% end %>

  <%= link_to 'Create a new quiz', new_quiz_path, class: "primary-button" %>
  <%= link_to 'See all quizzes', quizzes_path, class: "btn btn-default pull-right" %>

  </div>
  <br>
</div>
