<div class="page-header">
  <%= form_tag(quizzes_path, method: "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-group pull-right">
      <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Search quizzes" %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class='glyphicon glyphicon-search' aria-hidden='true'></span>
        </button>
      </span>
    </div>
  <% end %>
  <h1>Quizzes</h1>
</div>

<table class="table table_striped table-hover">
  <thead>
    <tr>
      <th colspan="2" class="text-center">Subject</th>
      <th>Author</th>
      <th class="text-center">Status</th>
      <th class="text-center">Deadline / Closed</th>
      <th class="text-center">Participants</th>
      <th class="text-right">Champion(s)</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td class="text-center"><%= play_button(quiz) %></td>
        <td class="text-center"><%= link_to quiz.subject, quiz %></td>
        <td><%= link_to quiz.author.name, player_path(quiz.author) %></td>
        <td class="text-center"><%= quiz_status(quiz).titleize %>
        <td class="text-center"><%= l index_time(quiz), format: :basic %></td>
        <td class="text-center"><%= quiz.response_sheets_count %></td>
        <td class="text-right">
          <% quiz.champions.each do |c| %>
            <%= link_to c.player.name, c.player %><br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @quizzes, renderer: BootstrapPagination::Rails %>
