<% if @show_results %>
  <%= render 'quizzes/results' %>
<% else %>
  <%= render 'quizzes/introduction' %>
  <% if @quiz.playable? && not(@can_edit) && @response_sheet.new_record? %>
    <%= render 'quizzes/response_form' %>
  <% else %>
    <%= render 'quizzes/review' %>
  <% end %>
<% end %>