<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">About the Alpaca Farm</h1>

    <h3>What is the Alpaca Farm?</h3>
    <p class="text-justify">
      The Alpaca Farm is a place where users can create and share trivia
      quizzes with each other. Alpaca Farm quizzes use a particular format
      that takes unusual calculations to work correctly, and the app helps
      take care of a lot of the bookkeeping for both players and authors.
    </p>
    
    <h3>Why do you call it the Alpaca Farm?</h3>
    <p class="text-justify">
      The style of quiz we present at the Alpaca Farm is based on the One Day
      Special format pioneered at
      <%= link_to "LearnedLeague", "http://www.learnedleague.com/" %> and has
      been designed with its users in mind. LL players call themselves
      "LLamas", so it seemed natural to name this site after a near relative
      of the noble creatures.
    </p>
      
    <h3>How do I play a quiz?</h3>
    <p class="text-justify">
      The home page has a list of "Playable Quizzes," and you can play as many
      of them as you feel like. If there aren't any quizzes there, then you'll
      have to wait until another author creates one (or make your own).
    </p>
    <p class="text-justify">
      Once you've selected a quiz, answer the questions to the best of your
      ability <em>without
      using outside resources</em>. Outside references include (but certainly
      are not limited to) searching for an answer on the internet, looking at
      maps, using a calculator, or asking a friend (or foe) if they know the
      answer. Basically, you are relying on your brain (and maybe a pencil
      and paper).
    </p>
    
    <p class="text-justify">
      For each correct answer, you will receive a certain amount of points.
      You must also mark certain 
      questions as "money" questions. For each money question that you answer
      correctly, you will receive bonus points equal to the percent of players
      who answered <em>incorrectly</em>. (That is, if 25% of players got a
      question right, its money bonus would be worth 75 points.) You still
      don't get any points for a wrong answer, though, so try to select the
      hardest questions you think you have answered correctly. (Note: You
      can't use outside resources to help pick your money questions either.)
    </p>

    
    <p class="text-justify">
      After you submit your answers, you'll be able to see the correct
      answers. And once the author has finished grading the quiz, you'll be
      able to see how hard the questions were, what score you got, and
      where you rank!
    </p>
      
    <h3>How do I create a quiz?</h3>
    <p class="text-justify">
      There's a link called "Create a Quiz" in the
      navigation bar at the top of the page, and a button on the bottom of the
      home page. When you create a new quiz, all you need is a subject, but
      you'll need to have your questions and answers filled in before you can
      launch your quiz for others to play. You can also include an
      introduction for the quiz, links to information outside of the site
      (like a video on YouTube), and notes to yourself for when you are
      grading answers.
    </p>
    <p class="text-justify">
      When your quiz is all set to go, you can finalize the quiz. You'll be
      asked to set an approximate grading time, to give players a sense of how
      long they have to complete the quiz. After the quiz has been active past
      the time you gave, you'll be able to close the quiz and begin grading.
      The grading form collects similar answers for a question, so you can 
      mark them correct or incorrect in groups. Once all the submissions for
      all the questions have been marked correct or incorrect, you can publish
      the results with one keystroke.
    </p>

    <h3>Who is Tablesaw Tablesawsen?</h3>
    <p class="text-justify">
      That's me! I'm a gamer, puzzler, and trivia buff. I started developing
      this app after I was laid off of an administrative job. I am now
      transitioning into a new career as a programmer, and this app is one of
      the ways I sharpen my skills.
    </p>

  </div>
</div>
