<% if user_signed_in? %>
  <li>
    <%= link_to(current_user.player.name,
          player_path(current_user.player)) %>
  </li>
<% else %>
  <li>
    <%= link_to("Sign Up", new_user_registration_path)  %>
  </li>
<% end %>