<div class = "row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1>Change your password</h1>
    </div>

    <%= form_for(resource, as: resource_name,
                 url: password_path(resource_name),
                 html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

            <div class="field">
        <%= f.label :password, class: "control-label"  %>
        <%= f.password_field :password, autocomplete: "off",
                             class: "form-control",
                             autofocus: true,
                             aria_describedby: "passwordHelpBlock",
                             placeholder: "Your new password"%>
        <span id="passwordHelpBlock" class="help-block">
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        </span>
      </div>
    
      <div class="field">
        <%= f.label "Confirm", class: "control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
                             class: "form-control",
                             placeholder: "Re-enter your new password" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "primary-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>