<div class = "row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1>Forgot your password?</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",
                     class: "primary-button"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>