<% if notice %>
  <div class="alert alert-success" style="margin: 0px">
    <div class="container">
      <span id="notice"><%= notice %></span>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" style="margin: 0px">
    <div class="container">
      <span id="alert"><%= alert %></span>
    </div>
  </div>
<% end %>