<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Created by Tablesaw Tablesawsen
      <span class="pull-right">
        Contact:
        <%= mail_to "contact@alpacafarmtrivia.com" %>
      </span>
    </p>
  </div>
</footer>
