<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#collapsibleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpaca Farm (beta)", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="collapsibleMenu">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %></li> 
        <li><%= link_to "Quizzes", quizzes_path %></li> 
        <li><%= link_to "Create a Quiz", new_quiz_path %></li> 
        <li><%= link_to "Players", players_path %></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</div>
