<h1><%= link_to result.quiz.subject, quiz_url(result.quiz) %> </h1>

<h2>Your Result</h2>

<h3>
  <%= result.rank.ordinalize %> Place!
  <small>
    <%= result.percentile_rank.to_i.ordinalize %>
    percentile rank
  </small>
</h3>
<h4>
  Score:
  <%= result.score %> points
  <small>out of a possible <%= result.quiz.maximum_score %></small>
</h4>
<h2><%= "Champion".pluralize(result.quiz.champions.size) %>:</h2>
<h4>
  <% result.quiz.champions.each do |champion| %>
    <%= champion.player.name %></h3>
  <% end %>
</h4>

<p>
  You can find the full results of this quiz at
  <%= link_to quiz_url(result.quiz), quiz_url(result.quiz) %>
</p>

<hr>
