<h2>
  <%= link_to quiz.subject, quiz_url(quiz) %>,
  <small>by <%= quiz.author.name %></small>
</h2>
<p>
  This quiz will be open until at least
  <%= l quiz.approximate_grading_date_time, format: :basic %>, which is
  <%= distance_of_time_in_words_to_now quiz.approximate_grading_date_time %>
  from now.
</p>

<% unless quiz.description.blank? %>
  <h3>Author's Description</h3>

  <p><%= sanitize quiz.description %></p>
<% end %>
<hr>
