<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render partial: "graded_quiz_info", collection: @results, as: :result %>

    <%= render "options_disclaimer" %>
  </body>
</html>
