<%= @quiz.subject %> has been graded!
================================================

Grading is complete for <%= @quiz.subject %>, by <%= @author.name %>.

You placed @result.rank.ordinalize %> with <%= @result.score %> points.

Congratulations to the <%= "champion".pluralize(@champions.size) %>:

<% @champions.each do |champion| %>
  <%= champion.player.name %>
<% end %>

You can find the full results of the quiz at <%= quiz_url(@quiz) %>

This message has been sent because you opted in for notifications. You can
change your settings at your profile page.
