<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new quiz is open!</h1>
    <p>There's a new quiz available at the AlpacaFarm:</p>

    <%= render partial: "new_quiz_info", object: @quiz, as: :quiz %>

    <p>
      To participate in this quiz, just follow this link:
      <%= link_to quiz_url(@quiz), quiz_url(@quiz) %>, or find it on the
      AlpacaFarm homepage.
    </p>

    <%= render "options_disclaimer" %>
  </body>
</html>
