A new quiz has been opened
=====================================
There's a new quiz available at the AlpacaFarm:
<%= @quiz.subject %>, by <%= @author.name %>.
It will be open until at least <%= l @quiz.approximate_grading_date_time, format: :basic %>,
which is <%= distance_of_time_in_words_to_now @quiz.approximate_grading_date_time %> from now.

<% unless @quiz.description.blank? %>
Author's Description
=====================================

<%= strip_tags @quiz.description %>
<% end %>

To participate in this quiz, just follow this link:

<%= quiz_url(@quiz) %>

or find it on the AlpacaFarm homepage.

This message has been sent because you opted in for notifications. You can
change your settings at your profile page.
