<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recent Quizzes at the Alpaca Farm</h1>
    <p>Here are the quizzes that opened in the last day or so:</p>

    <%= render partial: "new_quiz_info", collection: @quizzes, as: :quiz %>

    <%= render "options_disclaimer" %>
  </body>
</html>
