<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@player.errors.count, "error") %> prevented
                  this profile from being saved:</strong>

      <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_zone, class: "control-label" %>
    <%= f.time_zone_select :time_zone,
                            ActiveSupport::TimeZone.us_zones, {},
                            {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :location, class: "control-label" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :motto, class: "control-label" %>
    <%= f.text_field :motto, class: "form-control" %>
  </div>

  <h3>Email address and password</h3>
  <%= link_to "Click here to update your email address or password",
              edit_user_registration_path %>

  <h3>Email notification settings</h3>

  <div class="field">
    <h4>Notify me when new quizzes go live:</h4>
    <%= f.radio_button :new_quiz, "daily" %>
    <%= f.label "new_quiz_daily", "Once per day" %></br>
    <%= f.radio_button :new_quiz, "immediately" %>
    <%= f.label "new_quiz_immediately", "Immediately" %></br>
    <%= f.radio_button :new_quiz, "nil" %>
    <%= f.label "new_quiz_nil", "Never" %>
  </div>

  <div class="field">
    <h4>Notify me when a quiz I participate in has been graded</h4>
    <%= f.radio_button :graded_quiz, "daily" %>
    <%= f.label "graded_quiz_daily", "Once per day" %></br>
    <%= f.radio_button :graded_quiz, "immediately" %>
    <%= f.label "graded_quiz_immediately", "Immediately" %></br>
    <%= f.radio_button :graded_quiz, "nil" %>
    <%= f.label "graded_quiz_nil", "Never" %>
  </div>


<div class="actions">
    <%= f.submit "Update", class: "primary-button" %>
  </div>
<% end %>
