<div class = "row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1>Edit Profile</h1>
    </div>

    <%= render 'form' %>

    <%= link_to 'Cancel', player_path(@player),
                class: "btn btn-default pull-right" %>
  </div>
</div>
