<div class="page-header">
  <h1>Players</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-center">Location</th>
      <th class="text-center">Played</th>
      <th class="text-center">Authored</th>
      <th class="text-right">Joined</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td class="text-left"><%= link_to player.name, player %></td>
        <td class="text-center"><%= player.location %></td>
        <td class="text-center"><%= player.response_sheets_count || 0 %></td>
        <td class="text-center"><%= player.opened_quizzes_count || 0 %></td>
        <td class="text-right"><%= l player.created_at, format: :date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to 'Become an Alpaca', new_user_registration_path %>
