<div class="page-header">
  <h1>
    <%= @player.name %>
    <small><%= @player.motto %></small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-0" >
    <h2>Profile</h2>
    <p>
      <strong>Location:</strong>
      <%= @player.location %>
    </p>

    <% if @can_update %>
      <%= link_to 'Edit Profile', edit_player_path(@player),
                  class: "btn btn-default pull-right"%>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6">
    <% if @can_update %>
      <h2>Quizzes Under Construction</h2>
      <% if @player.authored_quizzes.unready.empty? %>
        <p class="text-center">
          <em>You have no quizzes under construction.</em>
        </p>
      <% else %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Subject</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @authored_quizzes.unready.each do |quiz| %>
              <tr>
                <td><%= link_to quiz.subject, edit_quiz_path(quiz) %></td>
                <td class="text-right">
                  <%= link_to "Edit", edit_quiz_path(quiz),
                              class: "btn btn-default" %>
                  <%= link_to "Finalize", finalize_path(quiz),
                              class: "btn btn-default" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Authored</h2>
    <% if @authored_quizzes.active.empty? %>
      <p class="text-center">
        <em>
          <% if @can_edit %>
            You have
          <% else %>
            <%= @player.name %> has
          <% end %>
          not yet authored a quiz.
        </em>
      </p>
    <% else %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Subject</th>
            <th class="text-center">Players</th>
            <th>Started</th>
            <th>Status</th>
            <th>Champion(s)</th>
          </tr>
        </thead>

        <tbody>
          <% @authored_quizzes.active.each do |quiz| %>
            <tr>
              <td><%= link_to quiz.subject, quiz %></td>
              <td class="text-center"><%= quiz.response_sheets_count %></td>
              <td><%= l quiz.opening_date_time, format: :date %></td>
              <td><%= quiz_status(quiz).titleize %></td>
              <td>
                <% quiz.champions.each do |champion| %>
                  <%= champion.player.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Played</h2>
    <% if @response_sheets.empty? %>
      <p class="text-center">
        <em>
          <% if @can_edit %>
            You have
          <% else %>
            <%= @player.name %> has
          <% end %>
          not yet participated in a quiz.
        </em>
      </p>
    <% else %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Started</th>
            <th class="text-center">Score</th>
            <th class="text-center">Percentile</th>
            <th class="text-center">Rank (of Total)</th>
            <th class="text-right">Author</th>
          </tr>
        </thead>

        <tbody>
          <% @response_sheets.each do |rs| %>
            <tr>
              <td><%= link_to rs.quiz.subject, rs.quiz %></td>
              <td><%= l rs.quiz.opening_date_time, format: :date %></td>
              <td class="text-center"><%= rs.score %></td>
              <td class="text-center">
                <%= number_with_precision(rs.percentile_rank, precision: 0) %>
              </td>
              <td class="text-center">
                <% if rs.rank %>
                  <%= rs.rank %> of
                  (<%= rs.quiz.response_sheets.size %>)
                <% end %>
              </td>
              <td class="text-right">
                <%= link_to rs.quiz.author.name, rs.quiz.author %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @response_sheets, renderer: BootstrapPagination::Rails %>

    <% end %>
  </div>
</div>

<%= link_to 'Back', players_path, class: "btn btn-primary pull-left" %>
