<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">
      Question <%= @question.number %>
      <small>Grading</small>
    </h1>
    <p>
      <strong>Question:</strong><br />
      <%= sanitize @question.question_text %>
    </p>
    <% if @question.question_edited_at %>
      <p><strong>Edited question:</strong><br />
        <%= sanitize @question.edited_text %>
      </p>
      <p><strong>Edited at:</strong><br />
        <%= l @question.question_edited_at, format: :basic %>
      </p>
    <% end %>

    <p>
      <strong>Answer:</strong><br />
      <%= @question.answer %>
    </p>

    <% if @question.answer_edited_at %>
      <p><strong>Edited answer:</strong><br />
        <%= sanitize @question.edited_answer %>
      </p>
      <p><strong>Edited at:</strong><br />
        <%= l @question.answer_edited_at, format: :basic %>
      </p>
    <% end %>

    <% if not (@question.grading_notes.blank?) %>
      <p>
        <strong>Grading Notes:</strong><br />
        <%= @question.grading_notes %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <button class="btn btn-default pull-right" id="mark-remaining-incorrect">
      Mark remaining incorrect
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_for @grading_form, url: question_grading_path, method: :post,
                                html: {class: "form-inline"} do |f| %>
      <%= f.hidden_field :question_id, value: @grading_form.question.id %>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Response</th>
            <th class="text-center">Count</th>
            <th class="text-center">Correct</th>
            <th class="text-center">Incorrect</th>
          </tr>
        </thead>

        <tbody>
          <%= f.fields_for :responses do |response_hash| %>
            <% @grading_form.responses.sort.each do |response, hash| %>
              <%= response_hash.fields_for response, hash do |gf| %>
                <tr class="response-row">
                  <td>
                    <%= gf.label response, class: "form-label" %>
                  </td>
                  <td class="text-center">
                    <%= hash[:count] %>
                  </td>
                  <div class="field">
                    <td class="text-center">
                      <%= gf.radio_button(:correct, true,
                                          {checked: hash[:correct],
                                           class: "radio-inline"}) %>
                      <%= gf.label :correct_true, "Correct" %>
                    </td>
                    <td class="text-center">
                      <%= gf.radio_button(:correct, false,
                                          {checked: hash[:correct] == false,
                                          class: "radio-inline"}) %>
                      <%= gf.label :correct_false, "Incorrect" %>
                    </td>
                  </div>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>

  <div class="actions">
    <%= f.submit "Submit your grading", class: "primary-button" %>
    <%= link_to "Back", grading_path(@quiz), class: "btn btn-default pull-right"  %>
  </div>

<% end %>
