<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-header">
      <%= @quiz.subject %>
      <small> Grading in Progress</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0
              col-full-height">
    <% if @quiz.percent_graded == 100 %>
      <%= link_to "Publish results", complete_grading_path(@quiz),
                  method: :post,
                  class: "primary-button btn-block",
                  style: "margin-bottom: 20px"%>

    <% else %>
      <h2>Overall Progress</h2>
      <div class="progress">
        <div class="progress-bar"
             role="progressbar"
             aria-valuenow="<%= @quiz.percent_graded.floor %>"
             aria-valuemin="0"
             aria-valuemax="100"
             style="min-width: 2em;
                    width: <%= number_to_percentage(@quiz.percent_graded,
                                 precision: 0) %>;">
          <%= number_to_percentage(@quiz.percent_graded, precision: 0) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row row-full-height">

  <% @quiz.questions.order(:number).each do |question| %>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0
                col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0
                col-full-height">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Question <%= question.number %></h2>
        </div>
        <div class="question-body">
          <p>
            <strong>Percent Moneyed</strong>
            <%= number_to_percentage(question.percent_moneyed, precision: 0) %>
          </p>
          <p>
            <strong>Percent Graded:</strong>
            <%= number_to_percentage(question.percent_graded, precision: 0) %>
          </p>
          <p>
            <strong>Percent Correct:</strong>
            <% if question.percent_graded == 100 %>
              <%= number_to_percentage(question.percent_correct,
                                       precision: 2) %>
            <% else %>
              (Pending)
            <% end %>
          </p>
        </div>
        <div class="panel-footer">
          <%= link_to "Grade Question #{question.number}",
                      question_grading_path(@quiz, question.number),
                      class: "btn btn-primary center-block" %>
        </div>
      </div>
    </div>
    <div class="question-clearfix"></div>
  <% end %>

</div>
