/* quizzes */

.question-body {
  @extend .panel-body;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-usd {
  color: green;
}

.glyphicon-star {
  color: gold;
}

.revealed-answer {
  @extend .panel-footer;
  @extend .text-center;
  color: orangered;
  font-weight: bold;
}

.concealed-answer {
  @extend .revealed-answer;
  display: none;
}

.click-to-reveal-answer {
  @extend .panel-footer;
  @extend .text-center;
  color: green;
  font-weight: bold;
  cursor: pointer;
}


div.question-clearfix:nth-of-type(4n) {
  @extend .clearfix;
  @extend .visible-sm-block;
}

div.question-clearfix:nth-of-type(6n) {
  @extend .clearfix;
  @extend .visible-md-block;
}

div.question-clearfix:nth-of-type(8n) {
  @extend .clearfix;
  @extend .visible-lg-block;
}

p.form-question-clearfix {
  margin: 0;
}

p.form-question-clearfix:nth-of-type(2n) {
  @extend .clearfix;
  @extend .visible-sm-block;
}

p.form-question-clearfix:nth-of-type(3n) {
  @extend .clearfix;
  @extend .visible-md-block;
}

p.form-question-clearfix:nth-of-type(4n) {
  @extend .clearfix;
  @extend .visible-lg-block;
}

/* forms */

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.field {
  @extend .form-group;
}

.primary-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .pull-left;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
