<!DOCTYPE html>
<html>
<head>
  <title>AlpacaFarm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render "shared/navbar" %>
  <%= render "shared/flash_display" %>

  <div class="container">
    <%= yield %>
  </div>
  
  <%= render "shared/footer" %>

</body>
</html>
