<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h2>Update Login Information</h2>
    </div>

    <%= form_for(resource, as: resource_name,
                 url: registration_path(resource_name),
                 html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Confirm" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "confirm your new password" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "primary-button" %>
      </div>
    <% end %>

    <%= link_to 'Cancel', :back,
                class: "btn btn-default pull-right" %>

  </div>
</div>