<div class = "row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1>Sign up!</h1>
    </div>
    
    <%= form_for(resource, as: resource_name,
                 url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control",
                          placeholder: "Your email address"%>
      </div>

      <%= f.fields_for :player do |player_form| %>
        <div class="field">
          <%= player_form.label :name, class: "control-label"  %>
          <%= player_form.text_field :name, class: "form-control",
                                     placeholder: "Your name",
                                     aria_describedby: "nameHelpBlock"%>
          <span id="nameHelpBlock" class="help-block">
            <em>(This will be your public name on this site.)</em>
          </span>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "control-label"  %>
        <%= f.password_field :password, autocomplete: "off",
                             class: "form-control",
                             aria_describedby: "passwordHelpBlock",
                             placeholder: "Your new password"%>
        <span id="passwordHelpBlock" class="help-block">
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        </span>
      </div>
    
      <div class="field">
        <%= f.label "Confirm", class: "control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
                             class: "form-control",
                             placeholder: "Re-enter your new password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "primary-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
